extends layout

block home
  label Total: #{data.length}
  hr
  p hello #{member}
  a(href='/add', title='Add').btn Add
  if log_status == false
    a(href='/login', title='Login').btn Login
  else
    a(href='/logout', title='Logout').btn Logout
  table.list
    thead
      tr
        th UserID
        th UserName
        th Password
        th Email
        th
    tbody
      each item in data
        tr
          td= item.UserID
          td= item.UserName
          td= item.Password
          td= item.Email
          td
            a(href='/edit/#{item.UserID}' title='Edit').icon
              i.fa.fa-pencil-square
            a(href='/delete/#{item.UserID}' title='Delete' onclick="return confirm('Delete user: #{data.UserName} ?');").icon
              i.fa.fa-trash
