extends layout

block editUser
  div.container
    div.row
      div.col-12
        div.input-group
          form(method='POST', action='editUser', style='width: 100%')
            div.input-group-append
              input(type='search', placeholder='Search', name='search').form-control.border-secondary.py-2
              button(type='submit').btn.btn-outline-secondary
                i.fa.fa-search
    div(style='margin-top: 50px').row
      div.col-12
        if data.length == 0
          p No Match User
        else
          table.table.table-striped.table-hover
            thead
              tr
                th ID
                th Nickname
                th Email
                th Gender
                th Username
                th Password
                th
            tbody
              each item in data
                tr
                  td= item.ID
                  td= item.Nickname
                  td= item.Email
                  td= item.Gender
                  td= item.Username
                  td= item.Password
                  td
                    a(href='editUser/delete/#{item.ID}', title='Delete', onclick="return confirm('Delete User#{item.ID}: #{item.Username} ?');").icon
                      button.btn.btn-outline-secondary
                        i.fa.fa-trash
